
body {
    background-color: #393e46;
     color: #00adb5;
}

a{
    color: #eeeeee;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

h1, h3{
    color: #222831;
    text-decoration: underline;
}

hr{
    background-color: #222831;
    border-style: dotted none none;
    border-width: 5px;
    height: 0;
    width: 5%;
    opacity: 0.25;
}

.table{
    border: dashed;
}

.profile-photo{
    width: 200px;
    height: auto;
    border: 1px transparent;
    border-radius: 50%;
    height: 150px;
    width: auto;
}
